.my-heading{
	text-align: center;
	font-weight: bold;
}

body{
		background-image:url(http://wallpapercave.com/wp/TjUG3t2.jpg);
}	

.mybutton{
	text-align: center;
}

.hireme{
	color: white;
	font-size: 15px;
}

.myp1{
	font-family: 'Amatica SC', cursive;
}

h1{
	font-family: 'Pacifico', cursive;
}

h2{
	font-family: 'Pacifico', cursive;
}